$brand-primary: 		#9C27B0;
$brand-primary-dark: 	#7B1FA2;
$brand-primary-light: 	#E1BEE7;
$brand-accent:			#FFC107;

$primary-text: 			#212121;
$muted-text: 			#727272;
$divider: 				#B6B6B6;
$light: 				#FFFFFF;

$indicator-green: 		#63C563;

$font-stack: 'Roboto', 'Helvetica', sans-serif;
